.Palette{
    height: 95vh;
}

.Palette-colors{
    height: 90%;
}

.Palette-footer{
    background-color: white;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.emoji{
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}