body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    /* To remove the vertical moment of text at the end of animation. */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        /* Animation Properties */
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* Other Animation Properties */
        /* animation-delay: 3s;
           animation-iteration-count: 5; */

        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.3rem;
         /* Animation Properties(Using short hand method)*/
        animation: moveInRight 1s ease-out;

        @include respond(phone){
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.2s;
    text-align: center;

    @include respond(tab-port){
        font-size: 3rem;
    }

    @include respond(phone){
        font-size: 2.5rem;
    }

    &:hover{
        transform: scale(1.02);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}